*{
    box-sizing: border-box;
    color: var(--primary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root
{
    --primary: #626C88;
    --secondary: #d2dbd6;
    --accent: #6edfb7;
   
    --radius: 5px;
}
body
{
    margin:0;
    background-color: var(--secondary)  ;
    font-size: 1.1em;
    
}
.wrapper
{
    max-width: 1200px;

    background: linear-gradient(90deg, rgba(241,244,242,1) 3%, rgba(255,255,255,1) 42%, rgba(210,219,214,1) 70%, rgba(255,255,255,1) 99%);border-radius: 10px;
    margin: 50px auto;
    padding: 30px 80px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
}
.flex_center
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sp_btw
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1, h2
{
    margin:0;
}
section h2
{
    font-weight: normal;
    margin-bottom: 5px;
    text-align: center;
}
section h2::after
{
    content: "";
    display: block;
    margin: 5px auto;
    background-color: var(--accent);

    width: 150px;
    height: 3px;
}
a
{
    margin-left: 30px;
    text-decoration: none;
}
nav a:hover
{
    border-bottom: 3px solid var(--accent);
}
section
{
    padding: 50px 0;
}


button
{
    padding: 6px 24px;
    border:none;
    outline:none;
   
    color:white;
    font-weight: bold;
    cursor:pointer;
    box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 20%);
    border-radius: var(--radius);

}


/*******************header*************************/
header
{
    border-bottom: 2px solid var(--secondary);
    padding-bottom: 10px;
}
.logo 
{
    margin-right: 250px;
}
.logo h1 
{
    color:#6edfb7;
}
.ich img
{
    width: 300px;
 
    border-radius: 20px;
    box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 20%);
}
.ich
{
    margin: 0 30px;
}
.text>span
{
    font-size: 1.6em;
    color: #6edfb7;
}
.text>b
{
    font-size: 1.4em;
}

.kontakt
{
    display:flex;
    margin-top: 60px;
}
.kontakt>div
{
    
    padding: 0 20px;
    font-size: 1em;
    border-right: 2px solid var(--secondary);
}
/****************Meine Projekt********************/
.container
{
    padding: 50px 30px;
}
.projekt_box
{
    margin-top: 80px;
    position: relative;
}
.projekt_zahl
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 1.6em;

    position: absolute;
    top:0;
    left:0;

    z-index: 1;

}

.blau
{
    background-color: rgb(123, 231, 245); 
}
.gelb
{
    background-color: rgb(242, 220, 166);
}
.pink
{
    background-color: rgb(216, 162, 226);
}


.projekt_text
{
    width: 50%;
    margin: 0 50px;
    padding: 20px;
    z-index: 2;
}
.projekt_text span
{
    color:var(--accent);
}
.projekt_box .projekt_text .btn 
{
    text-align: left;
    margin-right: 50px;
}
.projekt_box .projekt_text .btn button
{
    margin-right: 50px;
}
.pri_btn
{
    background-color: ;
}
.bor_pink
{
    border: 2px solid rgb(216, 162, 226);
    background-color: white;
    color: rgb(216, 162, 226);
}
.bor_gelb
{
    border: 2px solid rgb(242, 220, 166);
    background-color: white;
    color: rgb(242, 220, 166);
}
.bor_blau
{
    border: 2px solid rgb(123, 231, 245);
    background-color: white;
    color: rgb(123, 231, 245);
}
.projekt_bild
{
    width: 40%;
}
.projekt_bild img
{
    width: 450px;
    border-radius: var(--radius);
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3); 
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.3);
}
.projekt_bild img:hover
{
 transform: scale(1.1,1.1);
 transition: transform 1s;
}
/******************footer**********************/
footer
{
    padding-top: 20px;
    border-top: 2px solid var(--secondary);
}